$black: black;
$darkGray: #656565;

$mobile: "only screen and (max-width:800px)";


body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
* {
	box-sizing: border-box;
}
.main {
	padding: 5vh 5vw;
	display: flex;
	@media #{$mobile} {
		flex-wrap: wrap;
		padding: 2vh 2vw;
	}
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid $black;
}
aside {
	margin-right: 5%;
	@media #{$mobile} {
		margin-bottom: 5%;
	}
	position: relative;
	h1 {
		margin: 0;
		color: $black;
		font-size: 6rem;
		letter-spacing: -2px;
	}
	h4 {
		margin: 0;
		color: $darkGray;
		white-space: nowrap;
	}
}
section {
	flex-grow: 2;
}

.fotoContainer {
	margin-bottom: 4rem;
	//image container for single row item
	&--single {
		display: flex;
		justify-content: space-around;
	}
	//image container for groups
	&--group {
		display: flex;
		justify-content: space-between;
		@media #{$mobile} {
			flex-wrap: wrap;
		}
	}
}

.foto {
	&--landscape {
		width: 90%;
		margin: 0 auto;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&--square--half {
		width: 48%;
		img {
			width: 100%;
			height: auto;
		}
	}
	&--square--40 {
		width: 40%;
		img {
			width: 100%;
			height: auto;
		}
	}
	@media #{$mobile} {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__description {
		opacity: 0;
		transition: opacity ease-in 0.2s;

		color: black;
		width: 100%;
		text-align: right;
		margin-top: 0.5em;
		font-size: .9rem;
		font-weight: 600;
		letter-spacing: -0.5px;
	}
	&:hover {
		.foto__description {
			opacity: 1;
		}
	}
	&__year {
		font-weight: 400;
		font-size: 0.8em;
		font-style: italic;
		margin-left: 0.4em;
	}
}


footer {
	p {
		color: $darkGray;
		line-height: 160%;
		font-weight: 600;
		font-size: 0.8em;
	}
}